<div class="fluid-container desktop-bg  vh-lg-100" id="about">
  <div class="row h-lg-100" style="margin-right:0 ">
    <div class="col-12 h-lg-100 p-0">
      <div class="row header mt-5">
        <div class="col-12 col-md-12 col-lg-10">
          <div class="row creature ml-5">
            <h1 class="font-bold-italic">СОЗДАТЕЛИ МОБИЛЬНОГО ПРИЛОЖЕНИЯ</h1>
          </div>
        </div>
        <div class="col-2 d-none d-md-none d-lg-block">
          <div class="row navigation">
            <ul class="ml-auto mr-5 mt-2 navbar-nav">
              <li class="nav-item active">
                <a class="nav-link font-bold-italic" (click)="scroll('main')">Главная<span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link font-bold-italic" (click)="scroll('appDesktop')">Приложение</a>
              </li>
              <li class="nav-item">
                <a class="nav-link font-bold-italic" (click)="scroll('tarifDesktop')">Тарифы</a>
              </li>
              <li class="nav-item">
                <a class="nav-link font-bold-italic" [class.active]="isOnFourth" (click)="scroll('about')">О нас</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row mt-3 main d-none d-md-none d-lg-flex">
        <div class="col-1"></div>
        <div class="col-10">
          <div class="row">
            <div class="col-2">
              <div class="creaturer">
                <img src="../../assets/images/person.png" alt="">
                <div class="inner">
                  <div class="row">
                    <div class="col-12">

                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-4 first">
              <div class="row BoldItalic color-white">
                <h5>Нурия Мейржанова</h5>
              </div>
              <div class="row codecLight color-white">
                <p>
    профессиональный коуч по финансовой грамотности, личностому росту и здоровью (психическое и эмоциональное). Любящая и любимая жена, мама 3-х детей.
                </p>
              </div>
              <div class="row codecLight color-white">
                <p>Является сертифицированным и практикующим тренером. Владеет несколькими направлениями бизнеса.</p>
              </div>
              <div class="row codecLight color-white">
                <p>
                  И как вы понимаете, добиться успеха в бизнесе невозможно без профессиольных, инклюзивных познании в выше упомянутых сферах.
                </p>
              </div>
              <div class="row codecLight color-white">
                <p>
                  Невероятным опытом и знаниями, наработанными годами (а это более 15 лет), Нурия делится с Вами в серии своих авторских курсов.
                  </p>
              </div>
            </div>
            <div class="col-2">
              <div class="arch">
                <img src="../../assets/images/Arch.png" alt="">
                <div class="inner">
                  <div class="row">
                    <div class="col-12">

                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-4 first">
              <div class="row BoldItalic color-white">
                <h5>Компания Архетип-
                  </h5>
              </div>
              <div class="row codecLight color-white">
                <p>
                  команда профессионалов в области простой разработки сложных ИТ
                  решении.
                  </p>
              </div>
              <div class="row codecLight color-white">
                <p>
                  Каждый участник команды является экспертом с международным опытом работы в своей сфере деятельности.
                  </p>
              </div>
              <div class="row codecLight color-white">
                <p>
                  За более чем 12 лет работы в сфере ИТ разработки и интернет
                  маркетинга, накоплен огромный багаж знании и опыта. Которым
                  Архетип с радостью делится со своими клиентами и партнерами.
                </p>
              </div>

            </div>
          </div>
        </div>
        <div class="col-1 d-flex align-items-center justify-content-end">
          <div class="row links">

          </div>
        </div>
      </div>
      <div class="row footer too d-none d-md-none d-lg-flex">
        <div class="col-4 first">
          <p>
            ТОО "Миллион Факториал"
            </p>
            <p>
              БИН
            </p>
        <p>Адресс</p>
            <p class="w-100">Номер технической поддержки о консультации:
            </p>
      </div>
        <div class="col-6">
          <!-- <div class="row mouse tarifs d-flex justify-content-center">
            <a (click)="scroll('tarifDesktop')">
              <img src="../../assets/images/MouseUP.png" alt="">
            </a>
          </div> -->
        </div>
      </div>
    </div>
  </div>
  <div class="row d-flex d-md-flex d-lg-none">
    <div class="col-3"></div>
    <div class="col-6 creaturerMobi mb-5 mt-5">
      <div class="creaturer ">
        <img src="../../assets/images/person.png" alt="">
        <div class="inner">
          <div class="row">
            <div class="col-12">

            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-3"></div>
    <div class="col-1"></div>
    <div class="col-10 aboutCreaturer">
      <div class="row CodecBold color-white ">
        <h6 class="mobileHeaderText">Нурия Мейржанова
          </h6>
      </div>
      <div class="row codecLight   color-white mobileText">
        <p>
профессиональный коуч по финансовой грамотности, личностому росту и здоровью (психическое и эмоциональное). Любящая и любимая жена, мама 3-х детей.
        </p>
      </div>
      <div class="row codecLight color-white mobileText">
        <p>Является сертифицированным и практикующим тренером. Владеет несколькими направлениями бизнеса.</p>
      </div>
    </div>
  </div>
  <div class="row d-flex d-md-flex d-lg-none">
    <div class="col-1"></div>
    <div class="col-10 aboutCreaturerr">
      <div class="row codecLight color-white mobileText">
        <p>
          И как вы понимаете, добиться успеха в бизнесе невозможно без профессиольных, инклюзивных познании в выше упомянутых сферах.
        </p>
      </div>
      <div class="row codecLight color-white mobileText">
        <p>
          Невероятным опытом и знаниями, наработанными годами (а это более 15 лет), Нурия делится с Вами в серии своих авторских курсов.
          </p>
      </div>
    </div>
    <div class="col-1"></div>
  </div>
  <div class="row d-flex d-md-flex d-lg-none">
    <div class="col-3"></div>
    <div class="col-6 mb-5 mt-5">
      <div class="creaturer">
        <img src="../../assets/images/Arch.png" alt="">
        <div class="inner">
          <div class="row">
            <div class="col-12">

            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-3"></div>
    <div class="col-1"></div>
    <div class="col-10 aboutCreaturer">
      <div class="row CodecBold color-white">
        <h6 class="mobileHeaderText">Компания Архетип-
          </h6>
      </div>
      <div class="row codecLight color-white mobileText">
        <p>
          команда профессионалов в области простой разработки сложных ИТ
          решении.
          </p>
      </div>
      <div class="row codecLight color-white mobileText">
        <p>
          Каждый участник команды является экспертом с международным опытом работы в своей сфере деятельности.
          </p>
      </div>
      <div class="row codecLight color-white mobileText">
        <p>
          За более чем 12 лет работы в сфере ИТ разработки и интернет
          маркетинга, накоплен огромный багаж знании и опыта. Которым
          Архетип с радостью делится со своими клиентами и партнерами.
        </p>
      </div>
    </div>
    <div class="col-1"></div>


  </div>
  <div class="row d-flex d-md-flex d-lg-none mb-5">
    <div class="col-1"></div>
    <div class="col-10 info">
      <div class="row text-center color-white">
          <p>ТОО "Миллион Факториал"</p>
          <p>БИН</p>
          <p>Адресс</p>
          <p>Номер технической поддержки о консультации:
          </p>
      </div>
    </div>
    <div class="col-1"></div>
  </div>

  <div class="row links d-flex d-md-flex d-lg-none">
  </div>
</div>
