.desktop-bg {
  background-image: url('../../assets/images/v4mobi.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.creature h1{
  font-size: 1.5rem;
  text-align: left;
  color: white;
}
.navigation a{
  padding: 0%;
  color: #ffffff;
}
.font-bold-italic {
  font-family: "CodecPro-BoldItalic";
}
.links a{
  text-align: center;
  color: #FA8267;
}
.links img{
  padding: 5%;
}
.creaturer img{
  width: 110%;
  height: 70%;
}
.arch {
    margin-left: 5%;
    position: relative;
    top: 35%;
}
.arch img{
  width: 110%;
}

.arch .inner .col-12{
  padding-right: 0%;
}
.arch .inner h5{
    background-color: white;
    position: relative;
    right: 24%;
    width: 124%;
    font-family: "CodecPro-BoldItalic";
    text-align: right;
    padding-right: 10px;
    color: #FA8267;
    z-index: 10;
}
.arch .inner img{
  width: 100%;
}
.arch .inner {
    width: 100%;
    border: 1px white solid;
    height: 100%;
    top: -5%;
    position: absolute;
    left: -10%;
}

.creaturerMobi {
  padding-left: 0%;
}
.creaturer {
    margin-left: 5%;
    position: relative;
}

.creaturer .inner .col-12{
  padding-right: 0%;
}
.creaturer .inner h5{
    background-color: white;
    position: relative;
    right: 24%;
    width: 124%;
    font-family: "CodecPro-BoldItalic";
    text-align: right;
    padding-right: 10px;
    color: #FA8267;
    z-index: 10;
}
.creaturer .inner img{
  width: 100%;
}
.creaturer .inner {
    width: 100%;
    border: 1px white solid;
    height: 100%;
    top: -5%;
    position: absolute;
    left: -10%;
}
.leaf img {
  margin: 22px;
}

.creaturer .buy button{
  background-color: white;
  border: 0;
  font-family: "CodecPro-BoldItalic";
  color: #FA8267;
}

.codecLight {
  font-family: "CodecPro-Light";
}
.extraLightItalic {
  font-family: "CodecPro-ExtraLightItalic";
}
.BoldItalic {
  font-family: "CodecPro-BoldItalic";
}
.color-white {
  color: #ffffff;
}

.too p{
  margin: 0%;
  color: #ffffff;
  font-family: "CodecPro-Light";
}
.mobi-bg {
  /* height: 1060px; */
  background-image: url('../../assets/images/v4Mobile.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.w-80 {
  width: 80%;
}

.aboutCreaturerr .row{
  width: 100%;
}
.aboutCreaturer {
  padding-right: 0%;
}
.aboutCreaturer p{
  line-height: 100%;
}
.info p {
  width: 100%;
  padding: 0%;
  margin: 0%;
}
.row {
  margin: 0%;
}

@media (min-width: 992px){

  .first p {
    font-size: x-small;
  }
  .creature h1 {
    width: 70%;
  }

  .header {
    height: 15%;
  }
  .footer {
    height: 20%;
    align-items: flex-end;
  }
  .main {
    height: 40%;
  }
  .first p {
    font-size: x-small;
  }
  .mouse img{
    width: 50%;
  }
}

@media (min-width: 1200px) {
  .desktop-bg {
    background-image: url('../../assets/images/v4.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
  .header {
    height: 15%;
  }
  .footer {
    height: 20%;
    align-items: flex-end;
  }
  .main {
    height: 50%;
  }
  .first p {
    font-size: small;
  }
  .h-lg-100 {
    height: 100%;
  }
}
