.desktop-bg {
  background-image: url('../../assets/images/v2.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.w-90 {
  width: 90%;
}

.backk {
  /* background-color: #FA8267; */
}

.mobileText-1 {
  font-size: 1rem;
}
#SecondCarousel {
  margin-top: 45%;
  margin-bottom: 15%;
}

.w-80 {
  width: 80%;
}

.w-75 {
  width: 75%;
}
.z-index-100 {
  z-index: 100;
}
.codeProNews {
  font-family: "CodecPro-News";
}

.carousel-item h5{
  font-size: 0.8rem;
  text-align: center;
  margin: auto;
  margin-top: 5%;
  width: 80%;
  font-family: "CodecPro-NewsItalic";
  color: #ffffff;
}
.carousel-item button{
  background-color: white;
  border: 0;
  font-family: "CodecPro-News";
  color: #FA8267;
  width: 50%;
  border: #ffffff 1px solid;
  border-radius: 10%;
}
.carousel-item img{
  width: 70%;
}
.carousel-item {
  text-align: center;
}
.carousel-item p {
  color: #ffffff;
  width: 100%;
  margin: auto;
  margin-top: 5%;
  line-height: unset;
  text-align: center;
  font-family: "CodecPro-ExtraLight";
  font-size: 80%;
}
.carousel-control-prev span, .carousel-control-next span{
  height: 100%;
  width: 15%;
}
.carousel-control-prev, .carousel-control-next {
  width: 25%;
}
.pp {
  font-size: x-small;
}
.font-codec-light {
  font-family: "CodecPro-Light";
}
.font-bold-italic {
  font-family: "CodecPro-BoldItalic";
}
.navigation li a.active{
  background: rgb(255,110,77);
  background: linear-gradient(15deg, rgba(255,110,77,1) 12%, rgba(16,15,15,0) 50%);
}
.left-minus3 {
  left: -3%;
}
.left-minus2 {
  left: -2%;
}
.navigation a{
  padding: 0%;
  font-size: 1.3rem;
  color: #ffffff;
}
.h-10 {
  height: 10%;
}
.h-20 {
  height: 20%;
}
.h-90 {
  height: 90%;
}
.heavyItalic {
  font-family: "CodecPro-HeavyItalic";
}

.extralight {
  font-family: "CodecPro-HeavyItalic";
}

.links a{
  text-align: center;
  color: #FA8267;
  padding: 0%;
}
.links img{
  padding: 5%;
}
.mobi-bg {
  /* height: 1060px; */
  background-image: url('../../assets/images/v2.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}


.mobile #carousel {
  margin-top: 5%;
}
.font-color-white{

  color: #ffffff;
}
.mobile {

    background-image: url('../../assets/images/mobMobile2.png');
    bottom: 0%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
    height: 100%;
    /* padding: 10%; */
    /* margin-right: 5%; */
    padding-right: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.row {
  margin: 0%;
}

.links img{
  padding: 5%;
}

.prizes .col-12 img {
  width: 100%;
}

.h-80 {
  height: 80%;
}
.backWhite {
  background-color: #ffffff;
  color: #FA8267;
}

.pl-6 {
  padding-left: 3.5rem !important;
}

.pr-6 {
  padding-right: 3.5rem !important;
}

@media (min-width: 768px) {
  .carousel-item p {
    font-size: 127%;
    width: 80%;
  }


  .vh-lg-100 {
    height: 50vh !important;
  }

    .carousel-item h5 {
    font-size: 1.8rem;
  }
  .ww-100 {
    width: 100% !important;
  }

  .font-size-2rem {
    font-size: 2rem;
  }

  .font-size-1rem {
    font-size: 1rem;
  }
 }

@media (min-width: 992px) {


  .desktop-bg {
    background-image: url('../../assets/images/app.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
  .mobile {
    background-image: url('../../assets/images/mob.png');
    bottom: 0%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 3rem;
    padding-right: 3rem;
  }
  .carousel-control-prev {
    width: 25%;
    display: flex;
    justify-content: center;
  }

  .carousel-control-next {
    width: 25%;
    display: flex;
    justify-content: center;
  }
  .fzero8rem {
    font-size: 0.8rem;
  }

  #SecondCarousel {
  margin-top: 50%;
  margin-bottom: 15%;

  }

  .col-70 {
    max-width: 71.428572408163270903790119450229%;
    flex: 0 0 71.428572408163270903790119450229%;
  }
  .col-2-custom {
    flex: 0 0 14.285713795918364548104940274885%;
    max-width: 14.285713795918364548104940274885%;
  }

  .col-70 {
    max-width: 71.428572408163270903790119450229%;
    flex: 0 0 71.428572408163270903790119450229%;
  }

  .fzero8rem {
    font-size: 1rem;
  }

  .mobile {

    background-image: url('../../assets/images/mobMobile2.png');
    bottom: 0%;
    background-repeat: no-repeat;
    background-size: 120% 100%;
    position: relative;
    height: 100%;
    padding: 10%;
    margin-right: 5%;
    padding-right: 0%;
    display: flex;
    justify-content: center;
    align-items: center;

    padding-bottom: 0;
}

  .carousel-item h5{

    font-size: 1.1rem;
    text-align: center;
    margin: auto;
    margin-top: 5%;
    width: 100%;
    font-family: "CodecPro-NewsItalic";
    color: #ffffff;
  }

  .carousel-item p {
    color: #ffffff;
    width: 100%;
    margin: auto;
    margin-top: 5%;
    line-height: unset;
    text-align: center;
    font-size: 80%;
    font-family: "CodecPro-ExtraLight";
  }

  .desktop-bg {
    background-image: url('../../assets/images/app.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
  .mobile {
    background-image: url('../../assets/images/mob.png');
    bottom: 0%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .carousel-control-prev {
    width: 25%;
    display: flex;
    justify-content: center;
  }

  .carousel-control-next {
    width: 25%;
    display: flex;
    justify-content: center;
  }


#SecondCarousel {
  margin-top: 50%;
  margin-bottom: 15%;
  margin-right: 10%;
}

  .col-2-custom {
    flex: 0 0 14.285713795918364548104940274885%;
    max-width: 14.285713795918364548104940274885%;
  }
  .carousel-item img{
    width: 70%;
  }
  .vh-lg-100 {
    height: 100vh !important;
  }
}
@media (min-width: 1200px) {
  .col-70 {
    max-width: 71.428572408163270903790119450229%;
    flex: 0 0 71.428572408163270903790119450229%;
  }

  .fzero8rem {
    font-size: 1rem;
  }

  .mobile {

    background-image: url('../../assets/images/mobMobile2.png');
    bottom: 0%;
    background-repeat: no-repeat;
    background-size: 120% 100%;
    position: relative;
    height: 100%;
    padding: 10%;
    margin-right: 5%;
    padding-right: 0%;
    display: flex;
    justify-content: center;
    align-items: center;

    padding-bottom: 0;
}

  .carousel-item h5{

    font-size: 1.3rem;
    text-align: center;
    margin: auto;
    margin-top: 5%;
    width: 80%;
    font-family: "CodecPro-NewsItalic";
    color: #ffffff;
  }

  .carousel-item p {
    color: #ffffff;
    width: 80%;
    margin: auto;
    margin-top: 5%;
    line-height: unset;
    text-align: center;
    font-size: 85%;
    font-family: "CodecPro-ExtraLight";
  }

  .desktop-bg {
    background-image: url('../../assets/images/app.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
  .mobile {
    background-image: url('../../assets/images/mob.png');
    bottom: 0%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .carousel-control-prev {
    width: 25%;
    display: flex;
    justify-content: center;
  }

  .carousel-control-next {
    width: 25%;
    display: flex;
    justify-content: center;
  }


#SecondCarousel {
  margin-top: 50%;
  margin-bottom: 15%;
  margin-right: 10%;
}
.vh-lg-100 {
  height: 100vh;
}
  .col-2-custom {
    flex: 0 0 14.285713795918364548104940274885%;
    max-width: 14.285713795918364548104940274885%;
  }
  .carousel-item img{
    width: 65%;
  }
}
@media (min-width: 1400px) {
  .carousel-item img{
    width: 50%;
  }

  .carousel-item h5{

    font-size: 1.4rem;
    text-align: center;
    margin: auto;
    margin-top: 5%;
    width: 80%;
    font-family: "CodecPro-NewsItalic";
    color: #ffffff;
  }

  .carousel-item p {
    color: #ffffff;
    width: 80%;
    margin: auto;
    margin-top: 5%;
    line-height: unset;
    text-align: center;
    font-size: 1.2rem;
    font-family: "CodecPro-ExtraLight";
  }
}
