.desktop-bg {
  background-image: url('../../assets/images/v2.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.backk {
  background-color: #FA8267;
}

.mobileText-1 {
  font-size: 1rem;
}
#SecondCarousel {
  margin-top: 45%;
  margin-bottom: 15%;
}

.w-70 {
  width: 70%;
}
.carousel-item h5{

  text-align: justify;
  margin: auto;
  margin-top: 5%;
  width: 55%;
  font-family: "CodecPro-NewsItalic";
  color: #ffffff;
}
.carousel-item button{
  background-color: white;
  border: 0;
  font-family: "CodecPro-News";
  color: #FA8267;
  width: 50%;
}
.carousel-item img{
  width: 50%;
}
.carousel-item {
  text-align: center;
}
.carousel-item p {
  color: #ffffff;
  width: 70%;
  margin: auto;
  margin-top: 5%;
  line-height: normal;
  text-align: justify;
  font-size: 80%;
}
.carousel-control-prev span, .carousel-control-next span{
  height: 100%;
  width: 15%;
}
.carousel-control-prev, .carousel-control-next {
  width: 25%;
}
.font-codec-light {
  font-family: "CodecPro-Light";
}
.font-bold-italic {
  font-family: "CodecPro-BoldItalic";
}
.navigation li a.active{
  background: rgb(255,110,77);
  background: linear-gradient(90deg, rgba(255,110,77,1) 0%, rgba(16,15,15,0) 100%);
}
.navigation a{
  padding: 0%;
  color: #ffffff;
}

.links a{
  text-align: center;
  color: #FA8267;
}
.links img{
  padding: 5%;
}
.mobi-bg {
  /* height: 1060px; */
  background-image: url('../../assets/images/v2.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}


.mobile #carousel {
  margin-top: 5%;
}
.font-color-white{

  color: #ffffff;
}
.mobile {

    background-image: url('../../assets/images/mobMobile.png');
    bottom: 0%;
    background-repeat: no-repeat;
    background-size: 120% 100%;
    position: relative;
    height: 100%;
    padding: 10%;
    margin-right: 5%;
    padding-right: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.row {
  margin: 0%;
}

.links img{
  padding: 5%;
}

.prizes .col-12 img {
  width: 100%;
}

.h-80 {
  height: 80%;
}

@media (min-width: 992px) {
  .desktop-bg {
    background-image: url('../../assets/images/app.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
  .mobile {
    background-image: url('../../assets/images/mob.png');
    bottom: 0%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .carousel-control-prev {
    width: 25%;
    display: flex;
    justify-content: start;
  }

  .carousel-control-next {
    width: 25%;
    display: flex;
    justify-content: flex-end;
  }


#SecondCarousel {
  margin-top: 50%;
  margin-bottom: 15%;
  margin-right: 5%;
}
}

@media (min-width: 1200px) {
  .desktop-bg {
    background-image: url('../../assets/images/app.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
  .mobile {
    background-image: url('../../assets/images/mob.png');
    bottom: 0%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .carousel-control-prev {
    width: 25%;
    display: flex;
    justify-content: start;
  }

  .carousel-control-next {
    width: 25%;
    display: flex;
    justify-content: flex-end;
  }


#SecondCarousel {
  margin-top: 50%;
  margin-bottom: 15%;
  margin-right: 10%;
}
.vh-lg-100 {
  height: 100vh;
}
}
