<div *ngIf="!isMobile" class="fluid-container desktop-bg">
  <div class="row" style="height: 100%; margin-right:0 ">
    <div class="col-4">
      <div class="mobile">
        <div id="carousel" class="carousel slide" data-ride="carousel">
          <!-- The slideshow -->
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="../../assets/images/mopPhoto.png">
              <h5> Авторские курсы по
                шести направлениям</h5>
              <p id="small">В рамках продвижения своего
                мобильного приложения, предлагает всем новым подписчикам возможность выиграть множество призов: </p>
            </div>
            <div class="carousel-item">
              <img src="../../assets/images/mopPhoto.png">
              <h5> Авторские курсы по
                шести направлениям</h5>
              <p id="small">В рамках продвижения своего
                мобильного приложения, предлагает всем новым подписчикам возможность выиграть множество призов: </p>
            </div>
            <div class="carousel-item">
              <img src="../../assets/images/mopPhoto.png">
              <h5> Авторские курсы по
                шести направлениям</h5>
              <p id="small">В рамках продвижения своего
                мобильного приложения, предлагает всем новым подписчикам возможность выиграть множество призов: </p>
            </div>
          </div>
          <!-- Left and right controls -->
          <a class="carousel-control-prev" href="#carousel" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
          </a>
          <a class="carousel-control-next" href="#carousel" data-slide="next">
            <span class="carousel-control-next-icon"></span>
          </a>
        </div>
      </div>
    </div>
    <div class="col-8">
      <div class="row navigation">
        <ul class="ml-auto mr-5 mt-5 navbar-nav">
          <li class="nav-item active">
            <a class="nav-link font-bold-italic" href="#">Главная<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link font-bold-italic" href="#">Приложение</a>
          </li>
          <li class="nav-item">
            <a class="nav-link font-bold-italic" href="#">Тарифы</a>
          </li>
          <li class="nav-item">
            <a class="nav-link font-bold-italic" href="#">О нас</a>
          </li>
        </ul>
      </div>
      <div class="row links">
        <ul class="ml-auto mr-2 mt-5 navbar-nav">
          <li class="nav-item active">
            <a class="nav-link font-bold-italic" href="#">KZ</a>
          </li>
          <li class="nav-item">
            <a class="nav-link font-bold-italic" href="#">RU</a>
          </li>
          <li class="nav-item">
            <a><img src="../../assets/images/youtube.png" alt=""></a>
          </li>
          <li class="nav-item">
            <a><img src="../../assets/images/facebook.png" alt=""></a>
          </li>
          <li class="nav-item">
            <a><img src="../../assets/images/insta.png" alt=""></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div *ngIf="isMobile" class="fluid-container bg mobi-bg">
  <app-navigation class=""></app-navigation>
  <div class="row">
    <div class="col-12">
      <div class="mobileMobile">
        <div id="carousel" class="carousel slide" data-ride="carousel">
          <!-- The slideshow -->
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="../../assets/images/mopPhoto.png">
              <h5> Авторские курсы по
                шести направлениям</h5>
              <p id="small">В рамках продвижения своего
                мобильного приложения, предлагает всем новым подписчикам возможность выиграть множество призов: </p>
            </div>
            <div class="carousel-item">
              <img src="../../assets/images/mopPhoto.png">
              <h5> Авторские курсы по
                шести направлениям</h5>
              <p id="small">В рамках продвижения своего
                мобильного приложения, предлагает всем новым подписчикам возможность выиграть множество призов: </p>
            </div>
            <div class="carousel-item">
              <img src="../../assets/images/mopPhoto.png">
              <h5> Авторские курсы по
                шести направлениям</h5>
              <p id="small">В рамках продвижения своего
                мобильного приложения, предлагает всем новым подписчикам возможность выиграть множество призов: </p>
            </div>
          </div>
          <!-- Left and right controls -->
          <a class="carousel-control-prev" href="#carousel" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
          </a>
          <a class="carousel-control-next" href="#carousel" data-slide="next">
            <span class="carousel-control-next-icon"></span>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 text-center">
      <h1 class="font-color-white">Бонусы при
        покупке приложения:</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-12 text-center">
      <p class="font-color-white">Среди пользователей приложения будут разыграны следующие призы:</p>
    </div>
  </div>
  <div class="row prizes">
    <div class="col-12">
      <img src="../../assets/images/toyota.png" alt="">
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <img src="../../assets/images/iphone.png" alt="">
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <img src="../../assets/images/money.png" alt="">
    </div>
  </div>
  <div class="row">
    <div class="col-12 text-center">
     <h2 class="font-color-white">Этапы
      розыгрыша:</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-12 text-center">
      <p class="font-color-white">1 этап: Розыгрыш iPhone 11 в течение 6 месяцев</p>
      <p class="font-color-white">2 этап: Розыгрыш Camry 70, осень 2020</p>
    </div>
  </div>
  <div class="row links">
      <ul class="ml-auto mr-3 mb-2 navbar-nav">
        <li class="nav-item">
          <a><img src="../../assets/images/facebook.png" alt=""></a>
        </li>
        <li class="nav-item">
          <a><img src="../../assets/images/insta.png" alt=""></a>
        </li>
      </ul>
  </div>
</div>
