.third-desktop-bg {
  background-image: url('../../assets/images/v3.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  /* height: 635px; */
}
.w-80 {
  width: 80%;
}
.row {
  margin: 0%;
}
.mt-7 {
  margin-top: 5rem;
}
.h-10 {
  height: 10%;
}
.h-30 {
  height: 30%;
}
.h-80 {
  height: 80%;
}

.h-90 {
  height: 90%;
}

.tarifs {
  display: none;
}
.h-70 {
  height: 70%;
}
.mr-10 {
  margin-right: 10rem;
}
.links a{
  text-align: center;
  color: #FA8267;
  padding: 0%;
}
.links img{
  padding: 5%;
}
.font-bold-italic {
  font-family: "CodecPro-BoldItalic";
}

.codecProNews {
  font-family: "CodecPro-News";
}

.uspeh {
  justify-content: center;
}
.uspeh img{
  width: 100%;
}

.navigation a.active {
  background: rgb(255,110,77);
  background: linear-gradient(15deg, rgba(255,110,77,1) 12%, rgba(16,15,15,0) 50%);
}

.freelancer {
  border: white 1px solid;
  border-radius: 5px;
  margin-left: 5%;
  position: relative;
}

.freelancer .inner .col-12{
  padding-right: 0%;
}
.freelancer .inner h4{
  background-color: white;
  position: relative;
  right: 24%;
  width: 124%;
  font-family: "CodecPro-BoldItalic";
  text-align: right;
  padding-right: 10px;
  color: #FA8267;
}
.freelancer .inner p{
color: white;
font-family: "CodecPro-ExtraLightItalic";
}
.freelancer .inner {
border: white 1px solid;
border-radius: 5px;
position: relative;
right: 5%;
bottom: -5%;
height: 100%;
}

.freelancer .buy button{
background-color: white;
border: 0;
font-family: "CodecPro-BoldItalic";
color: #FA8267;
}

.recruter {
  border: white 1px solid;
    border-radius: 5px;
    margin-left: 5%;
    position: relative;
    padding-top: 1%;
}

.recruter .inner .col-12{
  padding-right: 0%;
}
.recruter .inner p{
  color: #FA8267;
  font-family: "CodecPro-BoldItalic";
}
.recruter .inner h4{
    background-color: #FA8267;
    position: absolute;
    right: -15%;
    width: 123%;
    font-family: "CodecPro-BoldItalic";
    text-align: center;
    color: white;
    border: white 1px solid;
}
.recruter .inner {
    background-color: white;
    border: white 1px solid;
    border-radius: 5px;
    position: relative;
    right: -5%;
    bottom: 5%;
    padding-top: 5%;
  }

.recruter .buy button{
  background-color: #FA8267;
  border: 0;
  font-family: "CodecPro-BoldItalic";
  color: white;
}

.bisnessman {
  border: white 1px solid;
    border-radius: 5px;
    margin-left: 5%;
    position: relative;
    padding-top: 1%;
}

.bisnessman .inner .col-12{
  padding-right: 0%;
}
.bisnessman .inner p{
  color: white;
  font-family: "CodecPro-BoldItalic";
}
.bisnessman .inner h4{
    background-color: white;
    position: relative;
    left: 0%;
    width: 124%;
    font-family: "CodecPro-BoldItalic";
    text-align: center;
    padding-right: 10px;
    color: #FA8267;
}
.bisnessman .inner .col-12{
  padding: 0%;
}
.bisnessman .inner {
  padding-top: 5%;
  border: white 1px solid;
  border-radius: 5px;
  position: relative;
  right: -5%;
  bottom: 5%;
}

.bisnessman .buy button{
  background-color: white;
  border: 0;
  font-family: "CodecPro-BoldItalic";
  color: #FA8267;
}

.millioner {
  border: white 1px solid;
    border-radius: 5px;
    margin-left: 5%;
    position: relative;
    padding-top: 1%;
}

.millioner .inner .col-12{
  padding-right: 0%;
}
.millioner .inner p{
  color: white;
  font-family: "CodecPro-BoldItalic";
}
.millioner .inner h4{
    background-color: white;
    position: relative;

    width: 124%;
    font-family: "CodecPro-BoldItalic";
    text-align: center;
    padding-right: 10px;
    color: #FA8267;
}
.millioner .inner .col-12{
  padding: 0%;
}
.millioner .inner {
  border: white 1px solid;
  border-radius: 5px;
  position: relative;
  right: -5%;
  bottom: 5%;
  padding-top: 5%;
}

.millioner .buy button{
  background-color: white;
  border: 0;
  font-family: "CodecPro-BoldItalic";
  color: #FA8267;
}

.navigation {
  display: none;
}
.standardtarifs {
  text-align: center;
  display: flex;
  justify-content: center;
}

.navigation a{
  padding: 0%;
  font-size: large;
  color: #ffffff;
}


.recruterHeader {
  height: 10%;
}

.cards .col-sm-12 {
  padding-top: 3rem !important;
}

.h-20{
  height: 20%;
}

@media only screen and (min-width: 576px) {

}

/*  Средние девайсы («таблетки», >= 768px) */
@media (min-width: 768px) {  }

/* // Большие девайсы (десктопы, >= 992px) */
@media (min-width: 992px) {
  .vh-lg-100 {
    height: 100vh !important;
  }
  .freelancer {
    border: white 1px solid;
      border-radius: 5px;
      margin-left: 5%;
      position: relative;
      left: -21%;
  }

  .freelancer .inner .col-12{
    padding-right: 0%;
  }
  .freelancer .inner h4{
      background-color: white;
      position: relative;
      right: 33%;
      width: 133%;
      font-family: "CodecPro-BoldItalic";
      text-align: right;
      padding-right: 10px;
      color: #FA8267;
  }
  .freelancer .inner p{
    color: white;
    font-family: "CodecPro-Light";
  }
  .freelancer .inner {
    border: white 1px solid;
    border-radius: 5px;
    position: relative;
    right: 5%;
    bottom: -5%;
    height: 100%;
  }
  .leaf img {
    margin: 22px;
  }

  .freelancer .buy button{
    background-color: white;
    border: 0;
    font-family: "CodecPro-BoldItalic";
    color: #FA8267;
  }

  .recruter {
    border: white 1px solid;
      border-radius: 5px;
      margin-left: 5%;
      position: relative;
      padding-top: 1%;
      bottom: -20%;
      left: 0%;
  }

  .recruter .inner .col-12{
    padding-right: 0%;
  }
  .recruter .inner p{
    color: #FA8267;
    font-family: "CodecPro-BoldItalic";
  }
  .recruter .inner h4{
      background-color: #FA8267;
      position: absolute;
      /* right: 16%; */
      width: 133%;
      font-family: "CodecPro-BoldItalic";
      text-align: center;
      color: white;
      border: white 1px solid;
  }
  .recruter .inner {
    background-color: white;
    border: white 1px solid;
    border-radius: 5px;
    position: relative;
    right: -5%;
    bottom: 5%;
    padding-top: 5%;
  }

  .recruter .buy button{
    background-color: #FA8267;
    border: 0;
    font-family: "CodecPro-BoldItalic";
    color: white;
  }

  .bisnessman {
    border: white 1px solid;
      border-radius: 5px;
      margin-left: 5%;
      position: relative;
      padding-top: 1%;
      left: 33%;
  }

  .bisnessman .inner .col-12{
    padding-right: 0%;
  }
  .bisnessman .inner p{
    color: white;
    font-family: "CodecPro-Light";
  }
  .bisnessman .inner h4{
      background-color: white;
      position: relative;
      left: 0%;
      width: 124%;
      font-family: "CodecPro-BoldItalic";
      text-align: left;
      padding-left: 10px;
  }
  .bisnessman .inner .col-12{
    padding: 0%;
  }
  .bisnessman .inner {
    padding-top: 5%;
    border: white 1px solid;
    border-radius: 5px;
    position: relative;
    right: -5%;
    bottom: 5%;
  }

  .bisnessman .buy button{
    background-color: white;
    border: 0;
    font-family: "CodecPro-BoldItalic";
    color: #FA8267;
  }
  .h-lg-30 {
    height: 20%;
    left: 60%;
  }
  .millioner {
    border: white 1px solid;
      border-radius: 5px;
      margin-left: 5%;
      position: relative;
      padding-top: 1%;
      left: 60%;
  }

  .millioner .inner .col-12{
    padding-right: 0%;
  }
  .millioner .inner p{
    color: white;
    font-family: "CodecPro-Light";
  }
  .millioner .inner h4{
      background-color: white;
      position: relative;
      left: 0%;
      width: 124%;
      font-family: "CodecPro-BoldItalic";
      text-align: left;
      padding-left: 10px;
      color: #FA8267;
  }
  .millioner .inner .col-12{
    padding: 0%;
  }
  .millioner .inner {
    border: white 1px solid;
    border-radius: 5px;
    position: relative;
    right: -5%;
    bottom: 5%;
    padding-top: 5%;
  }

  .millioner .buy button{
    background-color: white;
    border: 0;
    font-family: "CodecPro-BoldItalic";
    color: #FA8267;
  }

  .third-desktop-bg {
    background-image: url('../../assets/images/Tarif.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    /* height: 635px; */
  }
  .uspeh {
    justify-content: center;
  }
  .uspeh img{
    width: 50%;
  }
  .navigation a{
    padding: 0%;
    color: #ffffff;
  }
  .standardtarifs
  {
    display: none;
  }

  .tarifs h5{
    font-family: "CodecPro-BoldItalic";
  }
  .header {
    height: 20%;
  }
  .main {
    height: 75%;
  }
  .footer {
    height: 5%;
  }
  .vh-lg-100 {
    height: 100vh;
  }

  .recruterHeader {
    height: 10%;
  }
  .jcc {
    justify-content: center;
  }
 }
  .h-40 {
    height: 40%;
  }
  .h-unset {
    height: unset !important;
  }.HeavyItalic {
    font-family: "CodecPro-HeavyItalic";
  }

 @media (min-width: 992px) {

    .main {
      height: 65%;
    }
    .mt-7 {
      margin-top: 2rem;
    }
    .h-unset {
      height: unset !important;
    }
    .freelancer .inner p, .millioner .inner p, .bisnessman .inner p, .recruter .inner p {
      font-size: .8rem;
    }
    .f-1rem {
      font-size: 1rem;
    }
    .h-tablet-20 {
      height: 20%;
    }
    .premiumTarifHeader {
      padding-left: 0% !important;
      margin-bottom: 0.5rem;
    }
  }

/* // Экстрабольшие девайсы (большие десктопы, >= 1200px) */
@media (min-width: 1200px) {
  .h-unset {
    height: 100% !important;
  }
  .f-1rem {
    font-size: 1.5rem;
  }
  .jcc {
    justify-content: center;
  }
  .vh-lg-100 {
    height: 100vh !important;
  }
  .freelancer {
    border: white 1px solid;
      border-radius: 5px;
      margin-left: 5%;
      position: relative;
      left: -21%;
  }

  .freelancer .inner .col-12{
    padding-right: 0%;
  }
  .freelancer .inner h4{
      background-color: white;
      position: relative;
      right: 33%;
      width: 133%;
      font-family: "CodecPro-BoldItalic";
      text-align: right;
      padding-right: 10px;
      color: #FA8267;
  }
  .freelancer .inner p{
    color: white;
    font-family: "CodecPro-Light";
  }
  .freelancer .inner {
    border: white 1px solid;
    border-radius: 5px;
    position: relative;
    right: 5%;
    bottom: -5%;
    height: 100%;
  }
  .leaf img {
    margin: 0;
  }

  .freelancer .buy button{
    background-color: white;
    border: 0;
    font-family: "CodecPro-BoldItalic";
    color: #FA8267;
  }

  .recruter {
    border: white 1px solid;
      border-radius: 5px;
      margin-left: 5%;
      position: relative;
      padding-top: 1%;
      bottom: -20%;
      left: 0%;
  }

  .recruter .inner .col-12{
    padding-right: 0%;
    padding-left: 0%;
  }
  .recruter .inner p{
    color: #FA8267;
    font-family: "CodecPro-BoldItalic";
  }
  .recruter .inner h4{
      background-color: #FA8267;
      position: absolute;
      left: -10%;
      width: 120%;
      font-family: "CodecPro-BoldItalic";
      text-align: center;
      color: white;
      border: white 1px solid;
  }
  .recruter .inner {
    background-color: white;
    border: white 1px solid;
    border-radius: 5px;
    position: relative;
    right: -5%;
    bottom: 5%;
    padding-top: 5%;
  }

  .recruter .buy button{
    background-color: #FA8267;
    border: 0;
    font-family: "CodecPro-BoldItalic";
    color: white;
  }

  .bisnessman {
    border: white 1px solid;
      border-radius: 5px;
      margin-left: 5%;
      position: relative;
      padding-top: 1%;
      left: 33%;
  }

  .bisnessman .inner .col-12{
    padding-right: 0%;
  }
  .bisnessman .inner p{
    color: white;
    font-family: "CodecPro-Light";
  }
  .bisnessman .inner h4{
      background-color: white;
      position: relative;
      left: 0%;
      width: 124%;
      font-family: "CodecPro-BoldItalic";
      text-align: left;
      padding-left: 10px;
  }
  .bisnessman .inner .col-12{
    padding: 0%;
  }
  .bisnessman .inner {
    padding-top: 5%;
    border: white 1px solid;
    border-radius: 5px;
    position: relative;
    right: -5%;
    bottom: 5%;
  }

  .bisnessman .buy button{
    background-color: white;
    border: 0;
    font-family: "CodecPro-BoldItalic";
    color: #FA8267;
  }
  .h-lg-30 {
    height: 20%;
    left: 60%;
  }
  .millioner {
    border: white 1px solid;
      border-radius: 5px;
      margin-left: 5%;
      position: relative;
      padding-top: 1%;
      left: 60%;
  }

  .marginTop10 {
    margin-top: 10%;
  }
  .bNeg10 {
    bottom: -5%;
  }

  .bNeg20 {
    bottom: -20%;
  }

  .millioner .inner .col-12{
    padding-right: 0%;
  }
  .millioner .inner p{
    color: white;
    font-family: "CodecPro-Light";
  }
  .millioner .inner h4{
      background-color: white;
      position: relative;
      left: 0%;
      width: 124%;
      font-family: "CodecPro-BoldItalic";
      text-align: left;
      padding-left: 10px;
      color: #FA8267;
  }
  .millioner .inner .col-12{
    padding: 0%;
  }
  .millioner .inner {
    border: white 1px solid;
    border-radius: 5px;
    position: relative;
    right: -5%;
    bottom: 5%;
    padding-top: 5%;
  }

  .millioner .buy button{
    background-color: white;
    border: 0;
    font-family: "CodecPro-BoldItalic";
    color: #FA8267;
  }

  .third-desktop-bg {
    background-image: url('../../assets/images/Tarif.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    /* height: 635px; */
  }
  .uspeh {
    justify-content: center;
  }
  .uspeh img{
    width: 50%;
  }
  .navigation a{
    font-size: 1.3rem;
    padding: 0%;
    color: #ffffff;
  }
  .standardtarifs
  {
    display: none;
  }

  .tarifs h5{
    font-family: "CodecPro-BoldItalic";
  }



  .h-10 {
    height: 10% !important;
  }
  .h-90 {
    height: 90% !important;
  }
  .premiumTarifHeader {
    padding-left: 1.5rem !important;
    margin-bottom: 0% !important;
  }
  .header {
    height: 20%;
  }
  .main {
    height: 60%;
  }
  .footer {
    height: 5%;
  }
  .vh-lg-100 {
    height: 100vh;
  }
  .recruterHeader {
    height: 10%;
  }
  .mt-7 {
    margin-top: 0rem;
  }
  .l-60 {
    left: 60%;
  }
 }

 .l-60 {
  left: 60%;
}
