<nav class="navbar navbar-expand-lg navbar-dark">
  <a class="ml-auto mr-auto navbar-brand" href="#">
    <!-- <img src="../../assets/images/VectorSmartObject_0.png"> -->
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="ml-auto navbar-nav">
      <li class="nav-item active">
        <a class="nav-link font-bold-italic" (click)="scroll('main')">Главная<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link font-bold-italic" (click)="scroll('app')">Приложение</a>
      </li>
      <li class="nav-item">
        <a class="nav-link font-bold-italic" (click)="scroll('tarif')" >Тарифы</a>
      </li>
      <li class="nav-item">
        <a class="nav-link font-bold-italic" (click)="scroll('about')">О нас</a>
      </li>
    </ul>
  </div>
</nav>
