.navbar-brand {
  filter: brightness(0) invert(1);
}

.bg {
  background-color: #FA8266;
}
.smaller {
  width: 50%;

  transition-duration: .5s;
}
.font-bold-italic {
  font-family: "CodecPro-BoldItalic";
}

.navbar-nav a {
  padding: 0%;
}

  .navbar-nav {
  flex-direction: column;
}
.navbar-dark {
  background-color: #FA8267;
}
.navbar {
  position: sticky;
  top: 0;
  z-index: 3;
}
.w-80 {
  width: 80% !important;
}
@media (min-width: 768px) {
  .ww-100 {
    width: 100%;
   }
}
