/* You can add global styles to this file, and also import other style files */
/* Fonts */
@font-face {
	font-family: "CodecPro-ExtraBoldItalic";
	src: url("assets/CodecPro-ExtraBoldItalic.eot");
	src: url("assets/CodecPro-ExtraBoldItalic.woff") format("woff");
}

@font-face {
	font-family: "CodecPro-BoldItalic";
	src: url("assets/CodecPro-BoldItalic.eot");
	src: url("assets/CodecPro-BoldItalic.woff") format("woff");
}

@font-face {
	font-family: "CodecPro-Bold";
	src: url("assets/CodecPro-Bold.eot");
	src: url("assets/CodecPro-Bold.woff") format("woff");
}
@font-face {
	font-family: "CodecPro-ExtraLightItalic";
	src: url("assets/CodecPro-ExtraLightItalic.eot");
	src: url("assets/CodecPro-ExtraLightItalic.ttf") format("tff");
}

@font-face {
	font-family: "CodecPro-Light";
	src: url("assets/CodecPro-Light.eot");
	src: url("assets/CodecPro-Light.woff") format("woff");
}

@font-face {
	font-family: "CodecPro-ExtraLight";
	src: url("assets/Codec-Cold-Extralight-trial.ttf");
}

@font-face {
	font-family: "CodecPro-NewsItalic";
	src: url("assets/CodecPro-NewsItalic.eot");
	src: url("assets/CodecPro-NewsItalic.woff") format("woff");
}
@font-face {
	font-family: "CodecPro-News";
  src: url("assets/CodecPro-News.eot");
  src: url("assets/CodecPro-News.woff") format("woff");
}
@font-face {
	font-family: "CodecPro-HeavyItalic";
	src: url("assets/CodecPro-HeavyItalic.eot");
	src: url("assets/CodecPro-HeavyItalic.woff") format("woff");
}
